.docWhole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

:root {
  --black: #252525;
}

.left_container {
  background-color: var(--black);
  width: 50%;
  color: white;
  padding: 2rem;
}

.left_container .doc .docview .headline {
  color: white;
}

.right_container {
  background-color: white;
  width: 50%;
  color: var(--black);
  padding: 2rem;
}

.right_container .doc .docview .headline {
  color: var(--black);
}

.newsname {
  font-size: 5rem;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
}

.search {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
}

.search input {
  padding: .2rem;
  border: none;
  font-size: 1.5rem;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid #999;
}

.search input::-webkit-input-placeholder {
  color: #999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search input:-ms-input-placeholder {
  color: #999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search input::-ms-input-placeholder {
  color: #999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search input::placeholder {
  color: #999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search input:focus {
  border-bottom: 1px solid black;
}

.search input:focus::-webkit-input-placeholder {
  color: #CCC;
  opacity: 70%;
}

.search input:focus:-ms-input-placeholder {
  color: #CCC;
  opacity: 70%;
}

.search input:focus::-ms-input-placeholder {
  color: #CCC;
  opacity: 70%;
}

.search input:focus::placeholder {
  color: #CCC;
  opacity: 70%;
}

.doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doc .docanimate {
  -webkit-animation: fadeDown .5s forwards;
          animation: fadeDown .5s forwards;
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.doc .docview {
  margin-top: 2rem;
  width: 90%;
}

.doc .headline {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.doc .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
}

.doc .paragraph {
  margin-top: .5rem;
  text-decoration: none;
}

.buttons {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.buttons .prevButton {
  position: fixed;
  left: 2rem;
  width: 5rem;
  cursor: pointer;
  top: 50%;
}

.buttons .nextButton {
  position: fixed;
  right: 2rem;
  width: 5rem;
  cursor: pointer;
  top: 50%;
}

.keywords {
  margin-top: .8rem;
}

.keywords .keyword {
  background-color: #777;
  color: white;
  padding: .15rem;
  padding-left: .25rem;
  padding-right: .35rem;
  margin: .1rem;
  margin-left: 0;
  margin-right: .5rem;
  font-size: .6rem;
  display: inline-block;
  cursor: pointer;
}
/*# sourceMappingURL=Docs.module.css.map */