.docWhole{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

:root{
    --black: #252525;
}

.left_container{
    background-color: var(--black);
    width: 50%;
    color: white;
    padding: 2rem;

    .doc{
        .docview{
            .headline{
                color: white;
            }
        }
    }
}

.right_container{
    background-color: white;
    width: 50%;
    color: var(--black);
    padding: 2rem;

    .doc{
        .docview{
            .headline{
                color: var(--black);
            }
        }
    }
}
.newsname{
    font-size: 5rem;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
}

.search{
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;

    input{
        padding: .2rem;
        border: none;
        font-size: 1.5rem;
        outline: none;
        transition: all .5s;
        border-bottom: 1px solid #999;
    }

    input::placeholder{
        color: #999;
        transition: all .5s;
    }
    input:focus{
        border-bottom: 1px solid black;
    }
    input:focus::placeholder{
        color: #CCC;
        opacity: 70%;
    }
    
}

.doc{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    .docanimate{
        animation: fadeDown .5s forwards;
    }

    @keyframes fadeDown{
        0%{
            opacity:0;
            transform: translateY(-20px);
        }
        100%{
            opacity:1;
            transform: translateY(0);
        }
    }

    .docview{
        margin-top: 2rem;
        width: 90%;
    
    }

    .headline{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: .5rem

    }

    .info{
        display: flex;
        width: 100%;
        align-items: space-between;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    .paragraph{
        margin-top: .5rem;
        text-decoration: none;
    }
}

.buttons{
    position: fixed;
    width: 100vw;
    height: 100vh;

    .prevButton{
        position: fixed;
        left: 2rem;
        width: 5rem;
        cursor: pointer;
        top: 50%;
    }
    .nextButton{
        position: fixed;
        right: 2rem;
        width: 5rem;
        cursor: pointer;
        top: 50%;
    }
}



.keywords{
    margin-top: .8rem;

    .keyword{
        background-color: #777;
        color: white;
        padding: .15rem;
        padding-left: .25rem;
        padding-right: .35rem;
        margin: .1rem;
        margin-left: 0;
        margin-right: .5rem;
        font-size: .6rem;
        display: inline-block;
        cursor: pointer;
    }

}